.profile-container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.profile-heading {
  font-size: 2em;
  color: #333;
  margin-bottom: 20px;
}

.profile-details-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: #f4f4f4;
  padding: 20px;
}

.profile-details-card .card-title {
  font-size: 1.5em;
  color: #1a1a1a;
  margin-bottom: 10px;
}

.profile-details-card .card-subtitle,
.profile-details-card .card-text {
  color: #333;
  margin-bottom: 10px;
}

.profile-avatar {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.profile-actions {
  margin-left: 20px;
}

.profile-action-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.profile-action-button:hover {
  background-color: #0056b3;
}

.profile-edit-form {
  margin-bottom: 20px;
}

.form-button {
  margin-right: 10px;
}

.form-button.form-button-cancel {
  background-color: #ccc;
  border: none;
  color: #333;
  cursor: pointer;
}

/* Recommendations Card */
.rec-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: #f4f4f4;
  padding: 20px;
  margin-top: 33px;
}

.refresh-btn {
  margin-top: 2px;
  margin-left: 25px;
}
