.profile-container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.profile-heading {
  font-size: 2em;
  color: #333;
  margin-bottom: 20px;
}

.profile-details-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: #f4f4f4;
  padding: 20px;
}

.profile-details-card .card-title {
  font-size: 1.5em;
  color: #1a1a1a;
  margin-bottom: 10px;
}

.profile-details-card .card-subtitle,
.profile-details-card .card-text {
  color: #333;
  margin-bottom: 10px;
}

.profile-avatar {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
  margin-left: 50px;
}

.profile-actions {
  margin-left: 20px;
}

.profile-action-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.profile-action-button:hover {
  background-color: #0056b3;
}

.profile-edit-form {
  margin-bottom: 20px;
}

.form-button {
  margin-right: 10px;
}

.form-button.form-button-cancel {
  background-color: #ccc;
  border: none;
  color: #333;
  cursor: pointer;
}

/* Recommendations Card */
.rec-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: #f4f4f4;
  padding: 20px;
  margin-top: 33px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transition: color 0.2s ease-in-out;
  
}

.refresh-btn {
  margin-top: 6px;
  margin-left: 25px;
}

.useful-links-list {
  margin-top: 0px;
  padding: 20px;
  border-radius: 10px;
  background-color: #f4f4f4;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transition: color 0.2s ease-in-out;
}

.useful-links-list:hover {
  transform: translateY(-5px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.useful-links-list a {
  color: #030201;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.useful-links-list a:hover {
  color: #f0e003;
  transition: transform 0.2s ease-in-out;
  transform: translateY(-5px);
}

.useful-links-card {
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  padding: 20px;
  transition: transform 0.2s ease-in-out;
  margin-top: 20px;
}

.useful-link-header {
  display: flex;
  justify-content: center;
  font-size: 25px;
  font-weight: bolder;
  color: #575757;
}

.useful-link-header:hover {
  color: #f0e003;
}

