.prompt-card {
  background-color: #fcf5f5;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  padding: 20px;
  transition: transform 0.2s ease-in-out;
  font-size: 25px;
}

.tbr-card {
  background-color: #f7ede2;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  padding: 20px;
  transition: transform 0.2s ease-in-out;
  font-size: 25px;
}

.prompt-card:hover,
.tbr-card:hover {
  transform: translateY(-5px);
}

.prompt-header {
  font-size: 2rem;
  font-weight: bold;
  color: #575757;
  margin-bottom: 10px;
}

.prompt-header:hover {
  color: #fca311;
}

.prompt-header + .prompt-header {
  font-size: 1.5rem;
  color: #9c9c9c;
}

.tbrheader {
  font-size: 2rem;
  font-weight: bold;
  color: #575757;
  margin-bottom: 10px;
}

.tbrheader:hover {
  color: #fca311;
}

.links-list {
  margin-top: 0px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  background-color: #f7ede2;
  transition: color 0.2s ease-in-out;
}

.links-list:hover {
  transform: translateY(-5px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.links-list a {
  color: #fca311;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.links-list a:hover {
  color: #575757;
  transition: transform 0.2s ease-in-out;
  transform: translateY(-5px);
}

.links-card {
  background-color: #f7ede2;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  padding: 20px;
  transition: transform 0.2s ease-in-out;
  margin-top: 20px;
}

.link-header {
  display: flex;
  justify-content: center;
  font-size: 25px;
  font-weight: bolder;
  color: #575757;
}

.link-header:hover {
  color: #fca311;
}

body {
  background-color: rgb(113, 113, 131);
}
