.custom-navbar {
  background-color: rgb(48, 129, 211);
}

.offcanvas-header {
  background-color: rgb(48, 129, 211);
  border-bottom: 1px solid #dee2e6;
}

.offcanvas-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
}
.nav-link {
  color: #d3d3d3;
  padding: 0.5rem 1rem;
  margin: 0.25rem 0;
}
.nav-link:hover {
  color: #000000;
  text-decoration: none;
  background-color: #3c3c3c;
  border-radius: 5px;
}
.profile {
  font-weight: bold;
  color: #ddd6d6;
}

.profile:hover {
  color: #d31f1f;
}

.navbar-toggler {
  border-color: white;
  background-color: white;
}

.navbar-toggler:hover {
  background-color: white;
}

.offcanvas-body {
  display: flex;
  flex-direction: column;
  background-color: rgb(48, 129, 211);
  color: rgb(7, 5, 5);
  font-size: xx-large;
  justify-content: space-between;
}

.offcanvas-header {
  background-color: rgb(48, 129, 211);
  color: rgb(0, 0, 0);
}

.offcanvas-title {
  color: rgb(0, 0, 0) !important;
}
